@page
@model eBookStore.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.EmailAddress"></label>
                <input asp-for="Input.EmailAddress" class="form-control" />
                <span asp-validation-for="Input.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" type="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mt-3">Sign up</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Login">Already an user?</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}